<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - Picker WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Picker WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Picker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PickerModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A0DE5391AEDED3F009C72FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A428CF51AED8A4700D4DCBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A428D0A1AED8A4700D4DCBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A428D1F1AED91F700D4DCBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A428D291AED91F700D4DCBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
